<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <div>
          <form action="greeting" method="post">
            <input type="text" name="text" placeholder="Enter a message" />
            <input type="text" name="tag" placeholder="Enter a tag" />
            <button type="submit">Send</button>
          </form>
        </div>
        <div>Messages List</div>
        <form action="filter" method="post">
          <input type="text" name="filter" />
          <button type="submit">Find</button>
        </form>
        <form action="greeting" method="get">
          <tr th:each="message : ${messages}">
            <td><span th:text="${message.text}">message</span></td>
            <td><span th:text="${message.tag}">tag</span></td>
            <a th:href="@{/delete/{id}(id=${message.id})}">delete</a>
          </tr>
        </form>
    </body>
</html>